Package: fltk
Version: 1.3.8
Port-Version: 5
Depends: fltk, fontconfig, freetype, libjpeg-turbo, libpng, vcpkg-cmake, vcpkg-cmake-config, zlib
Architecture: x64-windows
Multi-Arch: same
Abi: d2f6be01b4b607d510ac3ff526fbf6bf1948221b992554466c0431b7c4d10a48
Description: FLTK (pronounced fulltick) is a cross-platform C++ GUI toolkit for UNIX/Linux (X11), Microsoft Windows, and MacOS X. FLTK provides modern GUI functionality without the bloat and supports 3D graphics via OpenGL and its built-in GLUT emulation.
Default-Features: opengl

Package: fltk
Feature: opengl
Depends: opengl
Architecture: x64-windows
Multi-Arch: same
Description: OpenGL support
